{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content%}
    <h1 align="center">Clubs</h1>
    <ul class="list-group list-group-flush" id="Clubs">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ club.data }}
        <button type="button" class="close" onClick="deleteNote({ club,id})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="club" id="club" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Create club</button>
      </div>
    </form>
    {% endblock %}