{% extends "base2.html" %}
{% block title %}My Clubs{% endblock %}

{% block content %}
    <title>My Clubs</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }

        .club-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .club-card {
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            cursor: pointer;
            position: relative;
            transition: transform 0.2s ease-in-out;
        }

        .club-card:hover {
            transform: scale(1.05);
        }

        .text {
            font-style: arial;
            font-size: 3rem;
            color: #0e0b0b;
            margin-top: 30px;
            text-align: center;
        }
    </style>

    <div class="container">
        <h1 class="text">Clubs you have joined</h1>
    </div>

    <div class="club-container">
        {% for club in clubs %}
        <div class="club-card">
            <a href="{{ url_for('club_details', club_id=club.id) }}">
                <div class="club-name">{{ club.name }}</div>
                <div class="club-role">{{ club.role }}</div>
            </a>
        </div>
        {% endfor %}
    </div>

{% endblock %}
