{% extends "base.html" %}
{% block title %}MMU Club Management{% endblock %}

{% block content %}
<style>
    .main-title {
        font-style: oblique;
        font-size: 3rem;
        color: #e24c4c;
        margin-top: 50px;
        text-align: center;
    }
    .subtitle {
        font-size: 1.25rem;
        color: #272424;
        text-align: center;
        margin-bottom: 2px;
    }
    
</style>   

  <div class="container">
    <h1 class="main-title">MMU Club Management</h1>
    <p class="subtitle">MMU is you!</p>
  </div>
{% endblock %}