<!-- {% extends "base2.html" %}
{% block title %}Member{% endblock %}

{% block content %}
<title>Add Event</title>
</head>
<body>
    <h1>Add New Event</h1>
    <form action="{{ url_for('add_event') }}" method="POST">
        <label for="event_name">Event Name:</label><br>
        <input type="text" id="event_name" name="event_name" required><br><br>

        <label for="event_description">Event Description:</label><br>
        <textarea id="event_description" name="event_description" required></textarea><br><br>

        <button type="submit">Add Event</button>
    </form>
</body>
{% endblock %} -->